<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="far fa-calendar-alt"></i>
            <%= @event[:date] %> at <%= @event[:time] %>
        </h2>
        <p>
            <i class="fas fa-running"></i> 
            <%= @event[:capacity]/2 %>v<%= @event[:capacity]/2 %>
        </p>
        <p>
            <i class="fas fa-map-marker"></i> 
            <%= @event[:location] %>
        </p>
        <iframe
            width="600"
            height="450"
            frameborder="0" 
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @lat_long %>&zoom=15" allowfullscreen>
        </iframe>
        <br><br>
        <% if @event[:bbq] %>
            <p><i class="fas fa-hamburger"></i> 
                <% if @bbq_person %>
                    BBQ hosted by: <%= @bbq_person[:name] %>
                <% else %>
                    BBQ host: TBD
                <% end %>
            </p>
        <% end %>
    </div>
    <div class="col-sm-3">
        <% if @count == @event[:capacity] %>
                <h4>
                    <i class="fas fa-futbol"></i> Game is on!
                </h4>
                <% if @current_user %>
                    <% if @attendance %>
                        <p class="mt-5">
                            <i class="fas fa-check-circle"></i> You're confirmed!
                        </p>
                    <% end %>
                <% end %>
        <% else %>
            <% if @current_user %>
                <% if @attendance %>
                    <p class="mt-5">
                        <i class="fas fa-check-circle"></i> You're confirmed!
                    </p>
                <% else %>
                    <p class="mt-5">
                        <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP</a>
                    </p>
                <% end %>
            <% else %>
                <p class="mt-5"><i class="fas fa-sign-in-alt"></i> Login to RSVP</p>
            <% end %>
        <% end %>
        <br>
        <h3>Attendees: <%= @count %></h3>
        <% for rsvp in @rsvps %>
            <% user = @users_table.where(:id => rsvp[:name_id]).to_a[0] %>
            <div class="media">
                <div class="media-body">
                    <p class-"mt-5">
                         <% if rsvp[:going] %>
                            <i class="fas fa-user-check"></i> <%= user[:name] %>
                            <% if rsvp[:going_bbq] %>
                                <i class="fas fa-hamburger"></i>
                            <% end %>
                         <% end %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</div>